body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#app {
    text-align: center;
}

#title {
    color: rgb(44, 217, 230);
    font-size: 50px;
}

#search-block {
    width: 100%;
    margin-top: 20px;
}

#city-list {
    display: flex;
    justify-content: space-around;
    margin-top: 0px 2px;
}

#city-list ul {
    margin-left: 2px;
}

#city-list li {
    list-style-type: none;
    /* 去除列表项的默认样式（点）*/
    margin-left: 2px;
    text-decoration: underline;
    color: #c44a4a;
}


#result-container {
    margin-top: 20px;
}