#app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto; 
}

#app button{ 
    color: red;
    align-content: center;
    width: 50px; 
    height: 20px;
    border-radius: 0;
}

#app span { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 50px;  
    height: 20px;
}